.add-city__select  {
  width: 460px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  appearance: none;
  color: #ccc;
  background: #fff;
  border: none;
}

@media screen and (max-width: 600px) {
  .add-city__select {
    margin-top: 25px;
    width: 80%
  }
}

