.add-city__select  {
  width: 460px;
  height: 56px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 20px;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  appearance: none;
  color: #ccc;
  border: none;
}

