.add-city__select  {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  appearance: none;
  color: #ccc;
}

