.temperature__container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  -outline: 1px dashed #fff;
}

.temperature__number {
  font-family: Roboto, sans-serif;
  font-size: 160px;
  line-height: 125px;
  font-weight: 400;
  color: #fff;
}

.temperature__extra {
  display: flex;
  flex-direction: column;
  align-items: center;

  -outline: 1px dashed #fff;
}

.temperature__icon {
  width: 142px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.temperature__description {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.temperature__description:first-letter {
  text-transform: capitalize;
}

