.link-settings {
  display: block;
  width: 36px;
  height: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  background-image: url(../img/icons/settings_gears.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .link-settings {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 10px;
  }
}