.weather-preview {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 200px;
    height: 250px;
    margin: 32px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    background: #01A7A6;
}

.weather-preview__btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #fff;
    background: transparent;
    border: none;
}

.weather-preview__city-icon {
    margin-bottom: 10px;
    width: 108px;
    height: 108px;
    border: 1px solid white;
    border-radius: 50%;
}

.weather-preview__name {
    margin: 0;
    margin-bottom: auto;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.weather-preview__data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-preview__temperature {
    margin-bottom: 0;
    padding-right: 20px;
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #fff;
}

.weather-preview__degree {
    position: absolute;
    top: 7px;
    right: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.weather-preview__weather-icon {
    width: 70px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.weather-preview__link {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

